* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color1: #FFCC00;
    --main-color2: #D40511;
    --hover: #9A0000;
    --bg: #eee;
    --gap: 30px;
    --text: #111;
}

body {
    font-family: system-ui;
    color: black;
    line-height: 1.4;
    background: var(--bg);
}

.logo {
    max-width: 150px;
}

.navbar {
    background: var(--main-color1);
}

.container {
    padding: 12px 24px;
    list-style: none;
    max-width: 1250px;
    height: 63px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    list-style: none;
    gap: var(--gap)
}

.menu a {
    position: relative;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    padding: 6px 12px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu a:hover {
    color: var(--text);
    background: rgba(212, 5, 17, 0.10);
}

.activo {
    color: var(--text);
    background: rgba(212, 5, 17, 0.10);
}




